body {
    font-size: 20px;
}

header {
    background-color: #7F8086;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    padding: 20px 0 10px;
}
/*https://www.color-hex.com/color-palette/18718*/
h1 {
    text-transform: uppercase;
}

.topnav {
    padding: 20px;
}

.topnav a {
    color: #FFFFFF;
    padding-left: 20px;
    font-style: italic;
    text-transform: uppercase;
}

.btn-rounded-black{
    display:inline-block;
    background-color: #080808;
    color: #FFFFFF;
    padding:15px 25px;
    border:3px solid #FFFFFF;
    border-radius:30px;
    transition:.5s ease all}

.btn-rounded-white:hover {
    color: #040707;
    background-color:#F8EF1D;
    text-decoration:none;
}

.project {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-size: cover;
}

#mywork {
}
.project img {
    float:  left;
    height: 480px;
    padding: 30px;
    background-size: cover;
}

.button {
    background-color: #8B0000;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.source {
    background-color: grey;
}

h3 {
    word-wrap: break-word;
}

#about {
}
