* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.noUppercase {
    text-transform: none;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 30%;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* This will make the width of the elements in the .header fit just the content vs 100%*/
}

header {
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("./images/tokyo_ghoul.jpg");
    background-size: cover;
    background-position: center;
    background-color: #7F8086;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    padding: 1vw 0 .5vw;
}

.btn-rounded-black{
    background-color: #080808;
    color: #FFFFFF;
    padding:.5vw 1vw;
    border:3px solid #FFFFFF;
    margin: .25vh;
    border-radius:30px;
    transition:.5s ease all;
}

/* mywork  */
.section.mywork {
    flex-direction: column;
    padding: 2vw;
}

.projects {
    flex: 1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;/* Vertical */
    margin: auto 0;
}

.project {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;/* Vertical */
    text-align: center;
    justify-items: center; /* Horizontal */
    margin: 1vw;
    padding: 2vw;
    background-size: cover;
    float:  left;
    border-radius: 10px;
    box-shadow: 0 0 20px #000000b3;
}

.illustration img {
    max-width: 400px;
}

.project-buttons {
    flex: 1;
    margin-top: auto;
    margin-bottom: 10px;
}

.button {
    background-color: cadetblue;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.source {
    background-color: grey;
}

/* about  */
.about {
    flex-direction: column;
    margin: 0 10%;
}

.about p {
    align-self: flex-start;
}

.media_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media_links a {
    margin: 10px;
}
.media_links a i {
    font-size: 32px;
}

.section.contact {
    flex-direction: column;
    width: 85%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px 10px;
    align-items: center;
    background: #f1f1f1;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px #000000b3;
}

.section.contact h1 {
    margin-top: 0;
    font-weight: 200;
}

.contact-input {
    flex: 1;
    width: 100%;
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 8px;
    border-radius: 8px;
}

.contact-input label {
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

.contact-input input, .contact-input textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.contact-button {
    display: block;
    background: teal;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
.footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*sourced from https://www.youtube.com/watch?v=Syg_9iB1vco*/
.my_name {
    text-transform: uppercase;
    letter-spacing: .5vw;
    font-size: 50px;
    animation: text 3s 1;
}

.my_title {
    font-size: 40px;
    margin-bottom: 4vw;
}

@keyframes text {
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
/* end of source https://www.youtube.com/watch?v=Syg_9iB1vco*/
/*END OF https://codepen.io/jstn/pen/zuDst*/
ul.topnav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
    font-size: 40px;
}
.topnav>li {
    display: table-cell;
    position: relative;
    padding: 2.25vw 0;
}

.topnav>li>a {
    color: #fff;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 2.25vw 2.5vw;
    position: relative;
}
.topnav a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.topnav>li>a:hover:after {
    width: auto;
    left: 0;
}
/*END OF https://codepen.io/jstn/pen/zuDst*/


/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    /* For desktop: */
    body {
        font-size: 16px;
    }

    header {
        padding: 1vw 0 0 0;
    }

    .my_name {
        text-transform: uppercase;
        letter-spacing: .5vw;
        font-size: 50px;
        animation: text 3s 1;
    }

    .my_title {
        font-size: 40px;
        margin-bottom: 2vw;
    }

    ul.topnav {
        font-size: 30px;
    }

    .topnav>li {
        padding: 0;
    }

    .btn-rounded-black{
        font-size: 30px;
        padding:.5vw 1vw;
        margin: 1vh;
        border-radius:30px;
    }
    .project {
        margin: 3vw;
        padding: 1vw;
    }

    .illustration {
        padding-bottom: 1vh;
    }

    .project img {
        float:  left;
        padding: 1px;
        flex: 1;
        border:1px solid #021a40;
    }
}