body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("./images/tokyo_ghoul.jpg");
    background-size: cover;
    background-position: center;
    background-color: #7F8086;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    padding: 20px 0 10px;
}

/*sourced from https://www.youtube.com/watch?v=Syg_9iB1vco*/
.my_name {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 42px;
    animation: text 3s 1;
}

.my_title {
    font-size: 32px;
}

@keyframes text {
    0%{
       color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }

}
/* end of source https://www.youtube.com/watch?v=Syg_9iB1vco*/
/*END OF https://codepen.io/jstn/pen/zuDst*/
ul.topnav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
    font-size: 28px;
}
.topnav>li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 30%;
}

li>a {
    color: #fff;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.topnav a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.topnav>li>a:hover:after {
    width: 100%;
    left: 0;
}
@media screen and (max-height: 300px) {
    ul.topnav {
        margin-top: 40px;
    }
}
/*END OF https://codepen.io/jstn/pen/zuDst*/

.btn-rounded-black{
    background-color: #080808;
    color: #FFFFFF;
    padding:15px 25px;
    border:3px solid #FFFFFF;
    margin: .50vh;
    border-radius:30px;
    transition:.5s ease all;
}

#mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.projects {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0;
}

.project {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw;
    padding: 2vw;
    background-size: cover;
}

.project img {
    float:  left;
    padding: 30px;
    flex: 1;
}

.project img.big_photo {
    float:  left;
    flex: 1;
    align-items: center;
    padding: 30px;
}

.project-buttons {
    flex: 1;
    margin-top: auto;
    margin-bottom: 10px;
}

.button {
    background-color: cadetblue;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.source {
    background-color: grey;
}

h3 {
    margin: 0;
}

h2 {
    margin-top: 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    body {
        font-size: 28px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-image: url("./images/tokyo_ghoul.jpg");
        background-size: cover;
        background-position: center;
        background-color: #7F8086;
        color: #FFFFFF;
        text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
        padding: 20px 0 10px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}