* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 30%;
}

.page {
    /*font-size: 18px;*/
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; /* This will make the width of the elements in the .header fit just the content vs 100%*/
}

header {
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("./images/tokyo_ghoul.jpg");
    background-size: cover;
    background-position: center;
    background-color: #7F8086;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    /*padding: 20px 0 10px;*/
    padding: 1vw 0 .5vw;
}

/* mywork  */
.section.mywork {
    flex-direction: column;
}

.projects {
    flex: 1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0;
}

/* about  */
.about {
    flex-direction: column;
}

.media_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media_links a {
    margin: 10px;
}

.contact {

}

.footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*justify-content: center;*/

}

/*sourced from https://www.youtube.com/watch?v=Syg_9iB1vco*/
.my_name {
    text-transform: uppercase;
    /*letter-spacing: 4px;*/
    letter-spacing: 1vw;
    /*font-size: 42px;*/
    font-size: 8vw;
    animation: text 3s 1;
}

.my_title {
    /*font-size: 32px;*/
    font-size: 6vw;
    /*margin-bottom: 20px;*/
    margin-bottom: 4vw;
}

@keyframes text {
    0%{
       color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
/* end of source https://www.youtube.com/watch?v=Syg_9iB1vco*/
/*END OF https://codepen.io/jstn/pen/zuDst*/
ul.topnav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
    text-align: center;
    font-size: 5.5vw;
    /*font-size: 28px;*/
}
.topnav>li {
    display: table-cell;
    position: relative;
    /*padding: 15px 0;*/
    padding: 2.25vw 0;
}

.topnav>li>a {
    color: #fff;
    letter-spacing: 0.15em;
    display: inline-block;
    /*padding: 15px 20px;*/
    padding: 2.25vw 2.5vw;
    position: relative;
}
.topnav a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.topnav>li>a:hover:after {
    width: auto;
    left: 0;
}
/*END OF https://codepen.io/jstn/pen/zuDst*/

.btn-rounded-black{
    background-color: #080808;
    color: #FFFFFF;
    padding:15px 25px;
    border:3px solid #FFFFFF;
    margin: .50vh;
    border-radius:30px;
    transition:.5s ease all;
}



.project {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw;
    padding: 2vw;
    background-size: cover;
}

.project img {
    float:  left;
    /*padding: 30px;*/
    padding: 5.75vw;
    flex: 1;
}

.project-buttons {
    flex: 1;
    margin-top: auto;
    margin-bottom: 10px;
}

.button {
    background-color: cadetblue;
    color: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

.source {
    background-color: grey;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    /*body {*/
    /*    font-size: 28px;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    flex-wrap: wrap;*/
    /*}*/

    /*header {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    flex-wrap: wrap;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    background-image: url("./images/tokyo_ghoul.jpg");*/
    /*    background-size: cover;*/
    /*    background-position: center;*/
    /*    background-color: #7F8086;*/
    /*    color: #FFFFFF;*/
    /*    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;*/
    /*    padding: 20px 0 10px;*/
    /*}*/
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}