* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

a:active {
    opacity: 30%;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    flex-direction: column;
    background-image: url("./images/tokyo_ghoul.jpg");
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    padding: 20px 0 10px;
}

.mywork {
    background-color: #B2D6FF;
}

.illustration img{
    width: 100%;
    display: block;
}

.contact {
    background-color: #EAEDF0;
}

.footer {
    background-color: #D6E9FE;
}
/* Mobile Styles */
@media only screen and (max-width: 350px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
        background-color: #B2D6FF; /* Blue */
        margin: 0 auto;
    }

    .header {
        height: 400px;
        width: 100%;
    }

    .mywork {
        background-color: #F09A9D; /* Red */
    }

    .projects {
        width: 960px;
    }
    /*.feature-1,*/
    /*.feature-2,*/
    /*.feature-3 {*/
    /*    width: 33.3%;*/
    /*}*/
}